<section id='_about'>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">

        <img id='_colleen_pic' class='img-thumbnail pull-left hidden-sm hidden-xs' style='width: 450px;'  src='img/colleen.jpg'  />
        <img id='_colleen_pic' class='img-thumbnail hidden-md hidden-lg' style='width: 450px;'  src='img/colleen.jpg'  />

      </div>
      <div id='_about_text' class="col-md-6 col-sm-6 col-xs-12">

        <h1>A little bit about me..</h1>
        <p class='text-left'>I have a Bachelors Degree in Psychology from San Diego Christian
      College, a Masters Degree in Christian Counseling from Trinity Theological
      Seminary and am currently concluding the certification process through the
      Association of Certified Biblical Counselors.</p>

      <p class='text-left'>I have been married for 36 years, was a stay at home mom while
      homeschooling our 4 children for 20 years, taught various women’s Bible studies,
      mentored women and taught various workshops at women’s retreats. Amidst life
      we also fostered 2 kids. Since 2002 it has been a passion of my heart to lead annual
      short term mission trips to Honduras. If it’s July and you can’t track me down, that’s
      because I’m in Honduras!</p>
      </div>
</div>
</div>
</section>
