<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <img class='img-thumbnail pull-left' style='width: 450px;'  src='img/colleen.jpg'  />

      </div>
      <div class="col-md-6">

  <h1>A little bit about me..</h1>
  <h3 class='text-left'>

I have my Masters Degree in Christian Counseling from Trinity

Seminary, Newburg, IN, my Bachelors Degree in Psychology from

San Diego Christian College and am currently concluding the

certification process through the Association of Certified Biblical

Counselors; hence I am not a licensed psychologist. </h3>
<h3 class='text-left'>Tim and I have

been married for 36 years, I spent 20 years homeschooling our four kids

and have been leading short-term mission trips to Honduras since

2002. </h3>
<h3 class='text-left'>In my spare time I love to read, quilt and hang out with my

family.</h3>
</div>
</div>
</div>
</section>
