
<div id='biblical_counseling' class="container">

  <div class="row" id='bible_counseling_main'>
    <img class='img-thumbnail pull-right' src='img/bible_in_grass.jpg' alt='bible_photo' style='width: 500px; height:300px;'/>

    <h1 class='text-left'><b>What is Biblical Counseling?</b></h1>
    <h3 class='text-left'>Biblical Counseling involves understanding the problems of living in this
    fallen world while offering practical solutions from the perspective of scripture.
    The Bible is used both to define the problems and to develop methods for solving them.
    I have my Master of Arts from Trinity Theological Seminary and am currently
    concluding the certification process through the Association of Certified
    Biblical Counselors, hence I am not a licensed psychologist.
    </h3>

    <br />

    <h1 class='text-left'><b>Are counseling sessions kept confidential?</b></h1>
    <h3 class='text-left'>The Bible clearly states that gossip is wrong. Therefore, I will not release information about
    particular counselees except in a few situations required by the Bible or by the mandated
    reporting laws of our state. Those situations are: (1) when someone is in danger of
    harming themselves or others, (2) when a child is physically or sexually abused, or (3)
    when someone persistently refuses to stop a sinful pattern and it is necessary to seek
    assistance from their church to encourage proper change (see Matthew 18:15-20 and
    Romans 13:1-7). In the case of a court subpoena, your records will be kept private unless
    you have given written authorization to disclose them.</h3>

    <br />

    <h1 class='text-left'><b>What is the fee for Biblical Counseling?</b></h1>
    <h3 class='text-left'>
    I charge $75 for a 50-minute session. The initial session might be a little longer but it is still
    only $75. I am not in any network for insurance companies and do not file claims for you,
    but a few insurance companies will reimburse for biblical counseling if you submit the proper
    forms. I will be happy to provide you with a receipt to submit to your insurance provider.</h3>

    <br />

    <h1 class='text-left'><b>What if I miss an appointment?</b></h1>
    <h3 class='text-left'>Counselees are asked to cancel appointments at least 24 hours prior to the appointment.
      This gives others the opportunity to use the canceled time slot. If that isn’t possible, then
      please contact me ASAP so I can plan accordingly. If there are repeated occurrences of
      last minute cancellations, then there will be a 50% cancellation charge for the appointment
      that you are expected to pay.
    </h3>

  </div>
</div>
