
<div id='_biblical_counseling' class="container">

  <div class="row" id='bible_counseling_main'>
    <img class='img-thumbnail pull-right' src='img/bible_in_grass.jpg' alt='bible_photo' style='width: 500px; height:300px;'/>

    <h1 class='text-left'><b>What is Biblical Counseling?</b></h1>
    <p class='text-left'>Biblical counseling,
    in it’s simplest form, is taking truths and principles from God’s word and
    applying them to our lives. Interestingly enough, God’s word has a lot to say
    about anger, anxiety, depression, relational &amp; marriage issues as well as a
    host of other topics that we wrestle with. As we dig into His word, we’ll be
    able to identify what’s in your heart: Anger? Hurt? Disappointment? Unmet
    expectations? For your outward behavior is a manifestation of what’s going
    on in your heart. It’s a process but if you’re willing to work through it and
    grow you’ll discover hope and healing from God’s word.
    </p>


  </div>
</div>
