<div id='_contact' class="container" ng-controller='indexController'>

  <div class='row'>
    <div class='col-md-4'>
      <div class='col-lg-8 text-center'>
        <div class='page-header' id='contact'>
          <h2><b>Contact me</b></h2>
        </div>
        <p><b>If you have any questions or would like to make an appointment please feel free to contact me using this form.</b></p>

      </div> <!-- End col-lg-8 -->
    </div> <!-- End col-md-4 -->
    <div class='col-md-8' id='message_form'>
      <form ng-submit='sendeMail(mail)' class='form-horizontal'>

        <div class='form-group'>
          <label for='mail.name' class='col-lg-2 control-label'>Name:</label>
          <div class='col-lg-10'>
            <input type='text' ng-model='mail.name' class='form-control' id='user-name' placeholder='Enter your name' required />
          </div>
        </div> <!-- End Name -->

        <div class='form-group'>
          <label for='mail.name' class='col-lg-2 control-label'>Email:</label>
          <div class='col-lg-10'>
            <input type='text' ng-model='mail.email' class='form-control' id='email' placeholder='Enter your email' required />
          </div>
        </div> <!-- End Name -->

        <div class='form-group'>
          <label for='mail.message' class='col-lg-2 control-label'>Message:</label>
          <div class='col-lg-10'>
            <textarea ng-model='mail.message' name='user.message' id='user-message' class='form-control'
            cols='20' rows='10' resize='none' placeholder='Enter your message'></textarea>
          </div>
        </div> <!-- End Message -->

        <div class='form-group'>
          <div class='col-lg-10 offset-by-2'>
            <input type='submit' class='btn btn-primary' value='Send Message'></input>
          </div>
        </div> <!-- End Submit Button -->

        <div id='myAlert' class="alert alert-success collapse">
          <strong>Success!</strong> Message successfully sent.
        </div>

      </form>
    </div> <!-- End Form-->

  </div> <!-- End Row -->
</div> <!-- End container -->
