
<div id='_faq' class="container">

  <div class="row" id='_faq_main'>


    <h3 class='text-left'><b>What should I bring to the first session?</b></h3>
    <p class='text-left'>If you haven’t already e-mailed your Personal Data Form and Consent Form, then
    please bring them. It is essential that I have those before we begin. Also, please
    bring some paper, a pen as well as your Bible (if you have one).</p>

    <br />

    <h3 class='text-left'><b>Will there be homework?</b></h3>
    <p class='text-left'>
      Yes! Each week you will have homework that will better help you process through
      the content of our discussion. It may involve reading, journaling and some very
      specific action plans that will further encourage you to make some intentional
      changes in your life.</p>

    <br />

    <h3 class='text-left'><b>Are counseling sessions kept confidential?</b></h3>
    <p class='text-left'>The Bible clearly states that gossip is wrong. Therefore, I will not release information about
    particular counselees except in a few situations required by the Bible or by the mandated
    reporting laws of our state. Those situations are: (1) when someone is in danger of
    harming themselves or others, (2) when there is an allegation of
    physical or sexual abuse and/or neglect, or (3)
    when someone persistently refuses to stop a sinful pattern and it is necessary to seek
    assistance from their church to encourage proper change (see Matthew 18:15-20 and
    Romans 13:1-7).</p>

    <br />

    <h3 class='text-left'><b>What is the fee for Biblical Counseling?</b></h3>
    <p class='text-left'>
      I charge $75 for a 50 minute session. I realize
    that each of us go through challenging financial seasons of life, so therefore
    I’m willing to offer a sliding scale. Please don’t hesitate to ask about it. I’m
    currently not in any insurance network but some insurance companies will
    reimburse for Biblical Counseling, so please consult with your insurance
    provider for their proper procedure.</p>

    <br />

    <h3 class='text-left'><b>What if I miss an appointment?</b></h3>
    <p class='text-left'>I don’t charge a cancelation fee as long as you cancel 24 hours prior to your
    appointment. I understand that life situations come up and sometimes that’s
    not possible. But it is essential that you notify me as soon as possible. If this
    becomes a continuous issue, then you will be charged a 50% cancellation fee
    that you are expected to pay.
    </p>

  </div>
</div>
