
<div id='_faq' class="container">

  <div class="row" id='_faq_main'>


    <h3 class='text-left'><b>What should I bring to the first session?</b></h3>
    <p class='text-left'>If you haven’t already e-mailed your Personal Data Form and Consent Form, then
please bring them. It is essential that I have those before we begin. Also, please
bring some paper, a pen as well as your Bible (if you have one).</p>

    <br />

    <h3 class='text-left'><b>Will there be homework?</b></h3>
    <p class='text-left'>
      Yes! Each week you will have homework that will better help you process through
the content of our discussion. It may involve reading, journaling and some very
specific action plans that will further encourage you to make some intentional
changes in your life.</p>


  </div>
</div>
