
<section class="fullsize-video-bg">
	<div id="video-viewport">
		<video width="1920" height="1280" autoplay muted loop poster='img/clouds.jpg'>
			<source src="video/clouds.mp4" type="video/mp4" />
		</video>
	</div> <!-- End Video viewport -->

	<div id='bible_quote' class='inner text'>
		<div>
			<h1>Colleen Ryan, MA</h1>
			<h1>Biblical Counseling</h1>

		</div>
	</div> <!-- End #bible_quote -->

	<div id='_index' class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Welcome</h1>
				<p class='text-left'>Life can be hard.  Whether it involves unmet expectations, broken relationships, catastrophic illnesses or financial stress we all experience times of despair.  Yet, God is ready to meet us and provide the hope and help that we so desperately need.  As we study and make application of Biblical principles we'll discover the HOPE that is there. </p>
					<p>Come on in and let’s talk.</p>
			</div> <!-- End col-sm-12  -->
			<div class="col-md-6 text-left">
				<h3><b><u>Specialties</u></b></h3>
				<p>Providing individual, marriage/couples, and family counseling pertaining to: </p>
				<ul>
					<li>Relational conflict</li>
					<li>Depression</li>
					<li>Anxiety</li>
					<li>Parenting challenges</li>
					<li>Marital stress</li>
					<li>Mediation counseling</li>
				</ul>
			</div>
		</div> <!-- End Row -->
	</div> <!-- End Container -->

</section> <!-- End full-size video-bg -->
