
<section class="fullsize-video-bg">
	<div id="video-viewport">
		<video width="1920" height="1280" autoplay muted loop poster='img/clouds.jpg'>
			<source src="video/clouds.mp4" type="video/mp4" />
		</video>
	</div> <!-- End Video viewport -->

	<div id='bible_quote' class='inner text'>
		<div>
			<h3>Do not fear, for I have redeemed you. I have called you by name, you are mine."</h3>
			<p>Isaiah 43:1b
			</p>
		</div>
	</div> <!-- End #bible_quote -->

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Welcome</h1>
				<h3 class='text-left'>I have a passion for helping women navigate through
					the various issues they face in life. Through the study and
					application of God’s word there is HOPE amidst life’s struggles.</h3>
					<h3>Come on in and let’s talk.</h3>
			</div> <!-- End col-sm-12  -->
			<div class="col-md-6 text-left">
				<h3><b><u>Services Provided</u></b></h3>
				<p>Providing individual, marriage/couples, and family counseling pertaining to: </p>
				<ul>
					<li>Relational conflict</li>
					<li>Depression</li>
					<li>Anxiety</li>
					<li>Parenting challenges</li>
					<li>Marital stress</li>
					<li>Mediation counseling</li>
				</ul>
			</div>
		</div> <!-- End Row -->
	</div> <!-- End Container -->

</section> <!-- End full-size video-bg -->
